<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visor de Escenarios de Cambio Climático</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
</head>
<body>
    <div id="map" style="width: 100%; height: 95vh; margin: 0; border: none; overflow: hidden;">
        <div id="chart-container" class="chart-container" style="display: none;">
            <button id="closeChartButton" class="close-chart-button">x</button>
            <canvas id="timeSeriesChart"></canvas>
        </div>
        <div class="controls">
            <h2>Año: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Escenario: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Variable:</h2>
            <select id="yearSelector"></select>
            <select id="scenarioSelector"></select>
            <select id="variableSelector"></select>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>